@page "/applets/tictactoe" 
@rendermode InteractiveServer
@attribute [Game(
	"Tic-Tac-Toe",
	"Simple Tic-Tac-Toe game!",
	typeof(TicTacToe)
)]
@using LearningBlazor.Utilities.TicTacToe
@using Microsoft.AspNetCore.SignalR.Client

@inherits GameComponentBase<TicTacToePlayer>

<PageTitle>Tic-Tac-Toe</PageTitle>
<div class="d-flex align-items-center flex-column justify-content-center">
@if (board is not null && !requestedPlayAgain && GameState == GameStates.Playing)
{
	<div class="container w-25 h-25 align-self-center">
		@for (int i = 0; i < 3; i++)
		{
			<div class="row flex-nowrap">
				@for (int j = 0; j < 3; j++)
				{
					var row = i;
					var col = j;
					<div class="col p-0">
						<button class="fw-light text-center border border-light m-0 w-100 h-100 text-light"
								style="min-width: 80px; min-height: 80px; font-size:32px; @(isPlayerTurn ? "background-color: #cc12ff;" : "background-color: #aaaaaa;")"
								disabled="@(isPlayerTurn == false)"
								@onclick="() => HandleCellClickAndSend(row, col)">
							@board[row, col]
						</button>
					</div>
				}
			</div>
		}
	</div>
	<div class="container p-2 flex align-self-center"> 
		<div class="row">
			<div class="col">
				<p class="fw-bold display-6"
					style="@(isPlayerTurn ? "color: #cf2244" : "color: #eeeeee")">
						@Self!.Name
				</p>
			</div>
			<div class="col">
				<p class="fw-bold display-6"
					style="@(isPlayerTurn == false ? "color: #cf2244" : "color: #eeeeee")">
						@opponentName
					</p>
			</div>
		</div>
	</div>
}
else if (board is null)
{
	<h1 class="text-primary">Initializing game, please wait...</h1>
}
else if (requestedPlayAgain)
{
	<h1 class="text-primary">Waiting for other player to confirm...</h1>
}
else if (GameState == GameStates.Waiting)
{
	<h2 class="text-light">Waiting for another player to join...</h2>		
}
else
{
	if (GameState == GameStates.Win)
	{
		<p class="text-light display-4">You Win!</p>
	}
		if (GameState == GameStates.Loss)
	{
		<p class="text-light display-4">You Lose!</p>
	}
		if (GameState == GameStates.Tie)
	{
		<p class="text-light display-4">It's a tie!</p>
	}
		<button class="btn bg-primary" @onclick="SendPlayAgainRequest"> Play Again </button>
		<button class="btn bg-primary" @onclick="HandleExit"> Exit Game </button>
}
</div>

@code {
	bool requestedPlayAgain = false;
	TicTacToeBoard board = new TicTacToeBoard();
	bool isPlayerTurn = false;

	string opponentName = string.Empty;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);

		if (firstRender)
		{
			await SetUpHubConnection("tictactoehub");
			AddReceiver("ReceiveResetGame", ReceiveResetGame);
			AddReceiver<string>("ReceiveSymbol", ReceiveSymbol);
			AddReceiver<int, int>("ReceiveMarkData", ReceiveMarkData);

			board.Win += (s, e) => GameState = GameStates.Win;
			board.Lose += (s, e) => GameState = GameStates.Loss;
			board.Tie += (s, e) => GameState = GameStates.Tie;
		}
	}

	protected override async Task OtherDisconnected(string playerName)
	{
		await base.OtherDisconnected(playerName);

		GameState = GameStates.Waiting;
		isPlayerTurn = false;
		board.Reset();
		requestedPlayAgain = false;
		await InvokeAsync(StateHasChanged);
	}


	public override async Task OtherConnected(string json)
	{
		await base.OtherConnected(json);
		isPlayerTurn = true;
		opponentName = gamePlayers[1].Name;

		await InvokeAsync(StateHasChanged);
	}

	protected override async Task SelfConnected(string playerJson, string gamePlayersJson)
	{
		await base.SelfConnected(playerJson, gamePlayersJson);

		if (gamePlayers.Count == 2)
			opponentName = gamePlayers[0].Name;
	}

	private async Task SendPlayAgainRequest()
	{
		await SendToHub();

		// ADD GAME STATE HERE! REMOVE REQUESTPLAYAGAIN VARIABLE!
		requestedPlayAgain = true;
		await InvokeAsync(StateHasChanged);
	}

	private async Task HandleCellClickAndSend(int i, int j)
	{
		isPlayerTurn = false;
		board.Mark(i, j);

		await SendToHub(i, j, "MarkBoardAndSend");
	}

	private async Task ReceiveResetGame()
	{
		requestedPlayAgain = false;

		GameState = GameStates.Playing;
		board.Reset();
		if (board.Symbol == "O")
			isPlayerTurn = true;
		else
			isPlayerTurn = false;
		await InvokeAsync(StateHasChanged);
	} 

	private Task ReceiveSymbol(string s) 
	{
		Logger.LogInformation("Player {Player} received symbol \"{Symbol}\"", Self!.Name, s);
		board.Symbol = s;
		return Task.CompletedTask;
	}

	private async Task ReceiveMarkData(int i, int j)
	{
		board.OpponentMark(i, j);
		isPlayerTurn = true;
		await InvokeAsync(StateHasChanged);
	}
}
